@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9977 0.0032 197.1059);
  --foreground: oklch(0.3011 0.0397 246.5607);
  --card: oklch(0.9977 0.0032 197.1059);
  --card-foreground: oklch(0.3011 0.0397 246.5607);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1649 0.0352 281.8285);
  --primary: oklch(0.6125 0.1235 168.3323);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9595 0.02 286.0164);
  --secondary-foreground: oklch(0.1649 0.0352 281.8285);
  --muted: oklch(0.9575 0.0066 158.8524);
  --muted-foreground: oklch(0.3006 0.0023 247.9014);
  --accent: oklch(0.65 0.2098 37.458);
  --accent-foreground: oklch(0.9977 0.0032 197.1059);
  --destructive: oklch(0.6535 0.2348 32.037);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9217 0.0133 159.8982);
  --input: oklch(0.9977 0.0032 197.1059);
  --ring: oklch(0.3011 0.0397 246.5607);
  --chart-1: oklch(0.6158 0.2397 6.9528);
  --chart-2: oklch(0.5488 0.2944 299.0954);
  --chart-3: oklch(0.7277 0.161 237.8467);
  --chart-4: oklch(0.7508 0.1516 168.2114);
  --chart-5: oklch(0.9168 0.1915 101.407);
  --sidebar: oklch(0.6125 0.1235 168.3323);
  --sidebar-foreground: oklch(0.9977 0.0032 197.1059);
  --sidebar-primary: oklch(0.6726 0.2904 341.4084);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.7618 0.1471 170.4208);
  --sidebar-accent-foreground: oklch(0.1649 0.0352 281.8285);
  --sidebar-border: oklch(0.9205 0.0086 225.0878);
  --sidebar-ring: oklch(0.9977 0.0032 197.1059);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2159 0.02 239.3888);
  --foreground: oklch(0.9513 0.0074 260.7315);
  --card: oklch(0.3011 0.0397 246.5607);
  --card-foreground: oklch(0.9513 0.0074 260.7315);
  --popover: oklch(0.2159 0.02 239.3888);
  --popover-foreground: oklch(0.9513 0.0074 260.7315);
  --primary: oklch(0.6125 0.1235 168.3323);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3664 0.0403 246.3233);
  --secondary-foreground: oklch(0.9513 0.0074 260.7315);
  --muted: oklch(0.3011 0.0397 246.5607);
  --muted-foreground: oklch(0.6763 0.0369 245.6856);
  --accent: oklch(0.65 0.2098 37.458);
  --accent-foreground: oklch(0.9977 0.0032 197.1059);
  --destructive: oklch(0.6535 0.2348 32.037);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2966 0.0384 245.0052);
  --input: oklch(0.3011 0.0397 246.5607);
  --ring: oklch(0.3657 0.0506 247.3599);
  --chart-1: oklch(0.6158 0.2397 6.9528);
  --chart-2: oklch(0.5488 0.2944 299.0954);
  --chart-3: oklch(0.7277 0.161 237.8467);
  --chart-4: oklch(0.7508 0.1516 168.2114);
  --chart-5: oklch(0.9168 0.1915 101.407);
  --sidebar: oklch(0.2159 0.02 239.3888);
  --sidebar-foreground: oklch(0.9513 0.0074 260.7315);
  --sidebar-primary: oklch(0.6726 0.2904 341.4084);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3011 0.0397 246.5607);
  --sidebar-accent-foreground: oklch(0.9513 0.0074 260.7315);
  --sidebar-border: oklch(0.2966 0.0384 245.0052);
  --sidebar-ring: oklch(0.3657 0.0506 247.3599);
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }
  h1 {
    @apply text-4xl md:text-6xl xl:text-7xl font-bold;
  }

  h2 {
    @apply text-xl lg:text-3xl font-medium;
  }

  h3 {
    @apply text-2xl lg:text-4xl font-medium;
  }

  a {
    @apply hover:cursor-pointer;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
